{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "no-param-reassign": [2, {
      "props": false
    }],
    "semi": [2, "never"],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js"]
    }],
    "max-len": [2, {
      "tabWidth": 2,
      "code": 100,
      "ignoreComments": false,
      "ignorePattern": "^\\s*test",
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true
    }]
  }
}
